//
// Components / Details
// ==========================================================================


.c-details {
  padding: calc(var(--space-64) + var(--space-16)) var(--space-16) var(--space-40);
  background-color: var(--color-bg-primary);
  color: var(--color-base);
  border-top: 1px solid rgba(var(--color-black), 0.2);
  border-bottom: 1px solid rgba(var(--color-black), 0.2);

  @include breakpoint(md) {
    padding: var(--space-80) 0;
  }

  @include breakpoint(lg) {
    padding: var(--space-96) 0;
  }

  @include breakpoint(xxl) {
    padding: var(--space-120) 0;
  }
}


.c-details .u-container {
  text-align: center;

  @include breakpoint(md) {
    align-items: center;
    text-align: left;
  }
}


.c-details__poster {
  margin-bottom: var(--space-16);
  width: 100%;
  max-width: 220px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include breakpoint(md) {
    margin-bottom: 0;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}


.c-details__specs {
  column-count: 2;
  column-gap: var(--space-16);

  @include breakpoint(sm) {
    column-gap: var(--space-24);
  }

  @include breakpoint(md) {
    column-gap: var(--space-40);
  }

  @include breakpoint(lg) {
    transform: translateY( var(--space-40) );
  }
}


.c-details__specs-item {
  margin-bottom: var(--space-8);
  break-inside: avoid-column;
  page-break-inside: avoid;

  @include breakpoint(sm) {
    margin-bottom: var(--space-12);
  }

  @include breakpoint(md) {
    margin-bottom: var(--space-20);
  }

  @include breakpoint(lg) {
    margin-bottom: var(--space-24);
    
    &:first-of-type {
      margin-top: calc( -1 * var(--space-40) );
    }
    
    &:nth-child(6) {
      margin-top: var(--space-8);
    }
  }
}

.c-details__specs-item#reparto {
  @include breakpoint(lg) {
    margin-top: 1em !important;
  }
}


.c-details__label {
  margin-bottom: var(--space-2);
  font-family: var(--font-base);
  font-size: var(--fontSize-12);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--color-accent);
  text-align: center;

  @include breakpoint(md) {
    font-size: var(--fontSize-14);
    letter-spacing: 0.1rem;
    text-align: left;
  }
}

.c-details__value {
  font-family: var(--font-base);
  font-size: large;
  color: var(--color-base);
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.02em;
  text-align: center;

  @include breakpoint(md) {
    font-size: var(--fontSize-18);
    text-align: left;
  }

  @include breakpoint(lg) {
    font-size: var(--fontSize-20);
  }
}
