{#
    Component Slider Nav
    ========================================
#}

<nav class="c-slider-nav">
    <button class="c-slider-nav__arrow c-slider-nav--prev" aria-label="Previous">
        <span class="c-slider-nav__arrow-inner">
            <span class="c-slider-nav__arrow-chevron"></span>
        </span>
    </button>
    <button class="c-slider-nav__arrow c-slider-nav--next" aria-label="Next">
        <span class="c-slider-nav__arrow-inner">
            <span class="c-slider-nav__arrow-chevron"></span>
        </span>
    </button>
</nav>
