<h1 style='font-size: x-large; color:white'>Barcelona </h1>
<h1 style='font-size: x-large;'>Mooby Glòries </h1>
<p>Viernes 31/05 18h </br> <a
        href='https://www.moobycinemas.com/sylvanian-families-la-pelicula-el-regalo-de-freya-preestreno' target='blank'
        rel='noopener noreferrer'>Entradas</a> </p>
<h1 style='font-size: x-large;'>Kinepolis Full Splau </h1>
<p>Sábado 25/05 17h </br> <a
        href='https://kinepolis.es/movies/detail/33892/HO00005097/0000000027/evento-especial-sylvanian-families-la-pelicula'
        target='blank' rel='noopener noreferrer'>Entradas</a> </p>
<h1 style='font-size: x-large; color:white'>Madrid </h1>       
<h1 style='font-size: x-large;'>Kinepolis Ciudad de la Imagen </h1>
<p>Sábado 01/06 17h </br> <a
        href='https://kinepolis.es/movies/detail/33892/HO00005097/0000000027/evento-especial-sylvanian-families-la-pelicula'
        target='blank' rel='noopener noreferrer'>Entradas</a> </p>

<h1 style='font-size: x-large; color:white'>Valencia </h1>
<h1 style='font-size: x-large;'>Kinepolis Valencia </h1>
<p>Sábado 01/06 17h </br> <a
        href='https://kinepolis.es/movies/detail/33892/HO00005097/0000000027/evento-especial-sylvanian-families-la-pelicula'
        target='blank' rel='noopener noreferrer'>Entradas</a> </p>
<h1 style='font-size: x-large; color:white'>Andalucía</h1>
<h1 style='font-size: x-large;'>MK2 Nervión </h1>
<p>Sábado 25/05 18h </br> <a
        href='https://cine.entradas.com/cine/sevilla/cinesur-nervion-plaza/evento/197050/sylvanian-families-la-pelicula-el-regalo-de-freya?mode=widget&change=0&ref=750#panel-seats'
        target='blank' rel='noopener noreferrer'>Entradas</a> </p>
<h1 style='font-size: x-large;'>Mk2 Cinesur Bahía de Cadiz </h1>
<p>Domingo 26/05 18h </br> <a
        href='https://cine.entradas.com/cine/cadiz/cinesur-bahia-de-cadiz/evento/87217/sylvanian-families-la-pelicula-el-regalo-de-freya?mode=widget&change=0&ref=750#panel-seats'
        target='blank' rel='noopener noreferrer'>Entradas</a> </p>


